[Unit]
Description=Syncthing service
After=network.target
{% if syncthing_wait_for_zfs %}
Wants=zfs.target
{% endif %}

[Service]
User={{syncthing_user}}
Group={{syncthing_user}}
ExecStart=/usr/bin/syncthing
Restart=on-abort

[Install]
WantedBy=multi-user.target
